@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #212121;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  min-height: 30px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #272c34;
  border: none;
}
.Navbar h1 {
  background-color: #272c34;
  color: white;
  font-size: 20px;
}

.Character__jokes {
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  margin: 30px auto;
  background-color: #272c34;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Character__jokes img {
  background-color: #272c34;
  max-width: 100%;
  min-height: 100%;
}
.Character__jokes h2 {
  background-color: #272c34;
  font-size: 20px;
  color: white;
}

.Character__jokes button {
  padding: 5px 10px;
  margin: 20px 0px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #2d2266;
  background-color: #2d2266;
  color: white;
  outline: none;
  cursor: pointer;
}

.msg {
  color: white;
}

/* css loader added  */
.loader {
  margin: 6% 0% 6% 0%;
  border: 7px solid #272c34;
  border-radius: 50%;
  border-top: 7px solid white;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
